<style>
  @media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      /* margin-right: 2px; */
      /* margin-left: 2px; */
      margin-right: 0px;
      margin-left: 0px;
      flex: 0 0 33.333333%;
      display: block;
    }
  }
  
  .card{
      margin: 0 .5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: 1px, rgb(194, 194, 194), solid;
  }
  .carousel-control-prev, .carousel-control-next{
      background-color: #b9b9b900;
      width: 40px;
      height: 80%;
      
      /* border-radius: 50%; */
      /* top: 50%; */
      /* transform: translateY(-50%); */
  }
  .carousel-indicators button {
    position: relative;
    bottom: -30px;
  }
</style>

<div id="pCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

  

  <div class="row">
    <div class="col-sm-10 order-2 g-0">
      <div class="carousel-inner round">

        <% it.posts.forEach((post, index) => { %>

          <!-- GETTING THE DATA OF EACH POST -->
          
          <!-- Get the Markdown filename without its extension -->
          <% const postFilename = post[0].replace(".md", "") %>
          
          <!-- Get the Markdown post title from its front matter -->
          <% const postTitle = post[1].frontmatter.title %>
          
          <!-- Get the post date from its front matter -->
          <% const postDate = post[1].frontmatter.date %>
          
          <!-- Get the post description from its front matter -->
          <% const postDescription = post[1].frontmatter.description %>
          
          <!-- Get the post tags from its front matter -->
          <% const postTags = post[1].frontmatter.tags %>
      
          <!-- Get the post image from its front matter -->
          <% const postImage = post[1].frontmatter.image %>
      
          <!-- Get the post image alternative text from its front matter -->
          <% const postImageAlt = post[1].frontmatter.imageAlt %>

          <!-- Treat first item of array differently since it requires the "active" class -->
          <% if(index === 0) { %>

            <div class="carousel-item active p-1" data-bs-interval="10000" style="height: 380px;">
              <div class="card d-block w-100 mx-0">
                <img src="<%= postImage %>" class="card-img-top mx-auto d-block" style="max-height: 150px; width: auto;" alt="<%= postImageAlt %>">
                <div class="card-body mx-auto w-80">

                  <div class="row g-0 mt-1">
                    <h5 class="card-title">
                      <a class="text-dark" href="/projects/<%= postFilename %>"><%= postTitle %></a>
                    </h5>
                  </div>
                  
                  <div class="row g-0 my-1">
                    <p class="card-text"><%= postDescription %></p>
                  </div>
                  
                  <a href="/projects/<%= postFilename %>" class="btn btn-dark mt-2">Read more</a>
                  
                  
                </div>
              </div>
            </div>

          <% } else { %>

            <div class="carousel-item p-1" data-bs-interval="2000" style="height: 380px;">
              <div class="card d-block w-100 mx-0">
                <img src="<%= postImage %>" class="card-img-top mx-auto d-block" style="max-height: 150px; width: auto;" alt="<%= postImageAlt %>">
                <div class="card-body mx-auto">

                  <div class="row g-0 mt-1">
                    <h5 class="card-title">
                      <a class="text-dark" href="/projects/<%= postFilename %>"><%= postTitle %></a>
                    </h5>
                  </div>
                  
                  <div class="row g-0 my-1">
                    <p class="card-text"><%= postDescription %></p>
                  </div>
                  
                  <a href="/projects/<%= postFilename %>" class="btn btn-dark mt-2">Read more</a>
                  
                  <!-- <div class="row g-0 mb-4 ">
                    <span></span>
                  </div> -->
                </div>
              </div>
            </div>
        
          <% } %>
        
        <% }) %>

      </div>
    </div>
    <div class="col-sm-1 order-1 g-0">
      <button class="carousel-control-prev" type="button" data-bs-target="#pCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    </div>

    <div class="col-sm-1 order-3 g-0">
      <button class="carousel-control-next" type="button" data-bs-target="#pCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class = "row mt-1">
    <div class="col-12 d-flex justify-content-center">
      <div class="carousel-indicators">
        <% it.posts.forEach((post, index) => { %>
    
          <% if(index === 0) { %>
            <button type="button" data-bs-target="#pCarousel" data-bs-slide-to="<%= index %>" class="active" aria-current="true" aria-label="Slide 1"></button>
          
          <% } else { %>
    
            <button type="button" data-bs-target="#pCarousel" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1%>"></button>
          <% } %>
    
        <% }) %>
      </div>
    </div>
  </div>

</div>

<script>

const numcards = 3;
// var carouselWidth = $(".carousel-inner")[0].scrollWidth;
var cardWidth = $(".carousel-item").outerWidth();
var scrollPosition = 0;
var scrollSpeed = 600;
var spotlightCount = $('.carousel-item').length
var carouselWidth = spotlightCount * cardWidth - 1 // account for rounding

$(".carousel-control-next").on("click", function () {
  if (scrollPosition < (carouselWidth - cardWidth * numcards)) { //check if you can go any further
    scrollPosition += cardWidth;  //update scroll position
    $(".carousel-inner").animate({ scrollLeft: scrollPosition },scrollSpeed); //scroll left
  }
})

$(".carousel-control-prev").on("click", function () {
  if (scrollPosition > 0) {
    scrollPosition -= cardWidth;
    $(".carousel-inner").animate(
      { scrollLeft: scrollPosition },
      scrollSpeed
    );
  }
});

function carouselMobile() {
  var pCarousel = document.querySelector("#pCarousel");
  var $pCarousel = $(pCarousel);
  var windowWidth = $(window).width();  // Store window width in a variable

  // Redundant check for window width with fallback to vanilla JS
  if (windowWidth === undefined || windowWidth === null) {
    windowWidth = window.innerWidth || document.documentElement.clientWidth;
  }

  if (windowWidth > 768) {
    // Ensure Bootstrap Carousel is initialized only once
    if (!$pCarousel.hasClass("initialized")) {
      var carousel = new bootstrap.Carousel(pCarousel, {
        interval: false
      });
      $pCarousel.addClass("initialized");  // Track the initialization
    }

    // Explicitly remove the 'slide' class if it exists
    if ($pCarousel.hasClass("slide")) {
      $pCarousel.removeClass("slide");
    }

  } else {
    // Ensure that the slide class is added
    if (!$pCarousel.hasClass("slide")) {
      $pCarousel.addClass("slide");
    }

    // Explicitly destroy Bootstrap carousel instance if the screen is resized to smaller
    if ($pCarousel.hasClass("initialized")) {
      var carouselInstance = bootstrap.Carousel.getInstance(pCarousel);
      if (carouselInstance) {
        carouselInstance.dispose();  // Destroy the carousel instance
      }
      $pCarousel.removeClass("initialized");
    }
  }
}

function debounce(func, wait) {
  let timeout;
  return function () {
    const context = this,
          args = arguments;
    const later = function () {
      clearTimeout(timeout);
      func.apply(context, args);
    };
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
  };
}


// Redundant event binding
$(window).on("resize", debounce(function() {
  carouselMobile();
}, 200));

$(window).on("load", function() {
  carouselMobile();  // Call function on load to ensure initialization
});

$(window).on("fullscreen", function() {
  carouselMobile();  // Fullscreen event handled redundantly
});


</script>

