
<div class="container mt-5" style="max-width: 900px;">
    
    <div class="col">
        <div class="row px-2">
            <div class="col-sm-6">
                <h2 class="title mb-2"><%= it.data.title %></h2>
                <h4><%= it.data.description %></h3>
                <% if (it.dirname === "posts") { %>
                <div class="meta mb-3">
                    <span class="date"><%= it.data.date %></span>
                    <span>
                        <!-- Start post tag(s) -->
                        <% it.data.tags.forEach(tag => { %>
                        <!-- Start each tag markup -->
                        <%= tag %>
                        <!-- End each tag markup -->
                        <% }) %>
                        <!-- End post tag(s) -->
                    </span>
                </div>
                <% } %>
            </div>
            <div class="col-sm-6 mt-3">
                <!-- Markdown file image -->
                <figure class="blog-banner mx-auto">
                    <a href="<%= it.data.imageCredit %>" target="_blank">
                        <img class="img-fluid mx-auto d-block" src="<%= it.data.image %>" alt="<%= it.data.imageAlt %>" />
                    </a>
                    <figcaption class="mt-2 text-center image-caption">
                        Image Credit:
                        <a class="theme-link" href="<%= it.data.imageCredit %>" target="_blank"><%= it.data.imageAlt %></a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row px-2">
            <!-- Markdown file content -->
            <%~ it.content %>
            
            
        </div>
    </div>
   
    
    
</div>


