<div class="container mt-5" style="max-width: 800px;">
    <div class="row">
        <div class="col-md-6">
            <!-- Personal Projects Column -->
            <ul class="list-group list-group-flush">
                <h4 class="mx-auto">Personal Projects</h4>
                <% it.posts
                    .filter(obj => obj[1].frontmatter.category === "Personal")
                    .forEach(post => { %>
                    <!-- GETTING THE DATA OF EACH POST -->
                    <% const postFilename = post[0].replace(".md", "") %>
                    <% const postTitle = post[1].frontmatter.title %>
                    <% const postDate = post[1].frontmatter.date %>
                    <% const postDescription = post[1].frontmatter.description %>
                    <% const postTags = post[1].frontmatter.tags %>
                    <% const postImage = post[1].frontmatter.image %>
                    <% const postImageAlt = post[1].frontmatter.imageAlt %>
                    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <a href="/projects/<%= postFilename %>" class="fw-bold text-link"><%= postTitle %></a>
                            <div class="fw-normal"><%= postDescription %></div>
                        </div>
                        <span class="badge bg-primary rounded-pill"><%= postTags %></span>
                    </li>
                <% }) %>
            </ul>
        </div>

        <div class="col-md-6">
            <!-- School Projects Column -->
            <ul class="list-group list-group-flush">
                <h4 class="mx-auto">School Projects</h4>
                <% it.posts
                    .filter(obj => obj[1].frontmatter.category === "School")
                    .forEach(post => { %>
                    <!-- GETTING THE DATA OF EACH POST -->
                    <% const postFilename = post[0].replace(".md", "") %>
                    <% const postTitle = post[1].frontmatter.title %>
                    <% const postDate = post[1].frontmatter.date %>
                    <% const postDescription = post[1].frontmatter.description %>
                    <% const postTags = post[1].frontmatter.tags %>
                    <% const postImage = post[1].frontmatter.image %>
                    <% const postImageAlt = post[1].frontmatter.imageAlt %>
                    
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <a href="/projects/<%= postFilename %>" class="fw-bold text-link"><%= postTitle %></a>
                            <div class="fw-normal"><%= postDescription %></div>
                        </div>
                        <span class="badge bg-primary rounded-pill"><%= postTags %></span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>